<footer>
    <div class="f-info">
        <div class="f-info-socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
        </div>
        <div>©StayNest Private Limited</div>
        <!-- <div>© 2023 StayNest</div>
        <div>All rights reserved</div> -->
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Teams</a>
        </div>
    </div>
</footer>